@CHARSET "UTF-8";

.posts-list {
	list-style-type: none;
}

.posts-list > li {
	margin-bottom: 15px;	
}

.post-title {
	text-decoration: bold;
	font-size: 1.2em;
}
.post-author {
	font-size: 0.7em;
}

.footer {
	text-align: center;
}



/* custom navbar */
.navbar-custom {
  background-color: #f8bb5d;
  border-color: #fad193;
}
.navbar-custom .navbar-brand {
  color: #000000;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #555259;
}
.navbar-custom .navbar-text {
  color: #000000;
}
.navbar-custom .navbar-nav > li > a {
  color: #000000;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #555259;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #555259;
  background-color: #fad193;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #555259;
  background-color: #fad193;
}
.navbar-custom .navbar-toggle {
  border-color: #fad193;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fad193;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #000000;
}
.navbar-custom .navbar-link {
  color: #000000;
}
.navbar-custom .navbar-link:hover {
  color: #555259;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #555259;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555259;
    background-color: #fad193;
  }
}