@CHARSET "UTF-8";

.registration-form-label {
	margin-top: 20px;
	margin-right: 20px;
	width: 150px;
	text-align: left;
}

.registration-form-input-field {
	width: 220px !important;
}

.posts-list {
	list-style-type: none;
}

.posts-list > li {
	text-align: justify;
}

.post-button {
	margin-top: 3px;
	align: right;
	float: right;
}

.post-box {
	background-color: #fad193;
	margin: auto;
	width: 60%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 10px;
	border: 1px solid transparent;
}

.post-creation {
	font-size: 0.75em;
	margin-bottom: 3px;
}

.post-title {
	margin-bottom: 5px;
	text-decoration: bold;
	font-size: 1.5em;
	background-color: #f8bb5d;
	margin-left: -10px;
	margin-right: -10px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.post-author {
	margin-top: 5px;
	font-size: 0.75em;
	text-align: right;
}

.footer {
	text-align: center;
}



/* custom navbar */
.navbar-custom {
  background-color: #f8bb5d;
  border-color: #fad193;
}
.navbar-custom .navbar-brand {
  color: #000000;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #555259;
}
.navbar-custom .navbar-text {
  color: #000000;
}
.navbar-custom .navbar-nav > li > a {
  color: #000000;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #555259;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #555259;
  background-color: #fad193;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #555259;
  background-color: #fad193;
}
.navbar-custom .navbar-toggle {
  border-color: #fad193;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fad193;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #000000;
}
.navbar-custom .navbar-link {
  color: #000000;
}
.navbar-custom .navbar-link:hover {
  color: #555259;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #555259;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555259;
    background-color: #fad193;
  }
}